<h1>PRODUCTOS</h1>

{{#if mostrarProductos}}
{{#each productos}}
<div>
    <p>Titulo: {{this.name}}</p>
    <p>Precio: {{this.price}}</p>
</div>
{{/each}}
{{else}}
<p>No se pueden mostrar los productos</p>
{{/if}}